*~
*__pycache__*
*_ext*
*.bag
*.csv
*.cu.o
*.DS_Store
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.tfevents*
*.yml
test*

.idea/
.vscode/
experiments/
*.egg-info/
build/
ckpt/
ckpts/
pre_trained_ckpts/
data/
dist/
output/
output*/
results/
result_*/
wandb/
tmp*/


slurm_logs

drow-v2/v3/output
drow-v2/data
